
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="active">
          <a href="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="forum.html">
            <i class="fa fa-institution"></i> <span>Forum</span>
          </a>
        </li>

        <li>
          <a href="groups.html">
            <i class="fa fa-group"></i> <span>Meetups</span>
          </a>
        </li>

        <li>
          <a href="events.html">
            <i class="fa fa-calendar"></i> <span>Events</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-green">17</small>
            </span>
          </a>
        </li>

        <li>
          <a href="social.html">
            <i class="fa fa-share-alt"></i> <span>Social</span>
          </a>
        </li>

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>